.custom-hr {
  width: 60%; /* Adjust the width as needed */
  border: 1px solid #6566CD; /* Customize the border style and color */
  margin: auto; /* Center the <hr> horizontally */
  margin-left: 0;
}